<div class="form-group">
  <label for="mip_count">MIP count</label>
  {{input
    type='number'
    step=1
    value=model.mip_count
    id='mip_count'
    class='form-control'}}
</div>
<div class="form-group">
  <label for="mip_volume">MIP volume (µL)</label>
  {{input
    type='number'
    step=0.01
    value=model.mip_volume
    id='mip_volume'
    class='form-control'}}
</div>
<div class="form-group">
  <label for="dna_amount_per_reaction">DNA amount per reaction (ng)</label>
  {{input
    type='number'
    step=1
    value=model.dna_amount_per_reaction
    id='dna_amount_per_reaction'
    class='form-control'}}
</div>
